$duration: 450ms;
$tileWidth: 350px;
$tileHeight: ($tileWidth / (16/9));
$iconSize: 50px;
$growFactor: 1.5; // 1.5 times the original size
$moveLeft: -($tileWidth * ($growFactor - 1) / 2);
$moveRight: $tileWidth * ($growFactor - 1);
.contain {
  // padding: 0 10px;
  @media all and (max-width: 650px) {
    flex-direction: column;
  }
  margin: 0;
  background: rgb(19, 20, 63);
  color: #ecf0f1;
  font-family: 'Open Sans',
  sans-serif; // min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  width: 100%;
  h1,
  p {
    text-align: center;
  }
  p {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
  a:link,
  a:hover,
  a:active,
  a:visited {
    transition: color 150ms;
    color: #95a5a6;
    text-decoration: none;
  }
  a:hover {
    color: #7f8c8d;
    text-decoration: underline;
  }
  .item {
    margin: 0 auto;
    animation: carousel-slide-mobile 30s cubic-bezier(0.075, 0.082, 0.075, 1) infinite;
    @media all and (min-width: 451px) {
      animation: carousel-slide-tablet 30s cubic-bezier(0.075, 0.082, 0.075, 1) infinite;
    }
    @media all and (min-width: 651px) {
      animation: carousel-slide 20s cubic-bezier(0.075, 0.082, 0.075, 1) infinite;
    }
    @media all and (min-width: 951px) {
      animation: carousel-slide-large 15s cubic-bezier(0.075, 0.082, 0.075, 1) infinite;
    }
    @media all and (min-width: 1439px) {
      animation: none;
    }
  }
  @keyframes carousel-slide-mobile {
    0% {
      transform: translate3d(-1100px, 0, 0) scale(1.0);
    }
    50% {
      transform: translate3d(-50px, 0, 0) scale(1.0);
    }
    100% {
      transform: translate3d(-1100px, 0, 0) scale(1.0);
    }
  }
  @keyframes carousel-slide-tablet {
    0% {
      transform: translate3d(-800px, 0, 0) scale(1.0);
    }
    50% {
      transform: translate3d(-50px, 0, 0) scale(1.0);
    }
    100% {
      transform: translate3d(-800px, 0, 0) scale(1.0);
    }
  }
  @keyframes carousel-slide {
    0% {
      transform: translate3d(-500px, 0, 0) scale(1.0);
    }
    50% {
      transform: translate3d(-50px, 0, 0) scale(1.0);
    }
    100% {
      transform: translate3d(-500px, 0, 0) scale(1.0);
    }
  }
  @keyframes carousel-slide-large {
    0% {
      transform: translate3d(-200px, 0, 0) scale(1.0);
    }
    50% {
      transform: translate3d(-50px, 0, 0) scale(1.0);
    }
    100% {
      transform: translate3d(-200px, 0, 0) scale(1.0);
    }
  }
  .row {
    @media all and (max-width: 950px) {
      width: 90%; // overflow: scroll;
    }
    width: 100%;
  }
  .row__inner {
    transition: $duration transform;
    font-size: 0;
    white-space: nowrap; // margin: ($tileHeight / 2) 0;
    margin: 70px 0;
    padding-bottom: 10px;
  }
  .tile {
    position: relative;
    display: inline-block;
    width: $tileWidth;
    height: 200px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: $duration all;
    transform-origin: center left;
  }
  .tile__img {
    width: $tileWidth;
    height: $tileHeight;
    object-fit: cover;
  }
  .tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;
    background: linear-gradient( to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    transition: $duration opacity;
  }
  .tile__details:after,
  .tile__details:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: #000;
  }
  .tile__details:after {
    margin-top: (-($iconSize / 2));
    margin-left: (-($iconSize / 2));
    width: 57px;
    height: 55px;
    border: 3px solid #ecf0f1;
    line-height: $iconSize;
    text-align: center;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .tile__details:before {
    content: '▶';
    left: 0;
    width: 100%;
    font-size: 30px;
    margin-left: 7px;
    margin-top: -18px;
    text-align: center;
    z-index: 2;
  }
  .tile:hover .tile__details {
    opacity: 1;
  }
  .tile__title {
    position: absolute;
    bottom: 0;
    padding: 10px;
  }
  .row__inner:hover {
    transform: translate3d($moveLeft, 0, 0);
  }
  .row__inner:hover .tile {
    opacity: 0.3;
  }
  .row__inner:hover .tile:hover {
    transform: scale($growFactor) !important;
    opacity: 1;
  }
  .tile:hover~.tile {
    transform: translate3d($moveRight, 0, 0);
  }
}