/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
	@include font-size(1);
	font-family: $font__main;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: $color__pink;
	color: $color__text-main;
	max-width: $site__width;
	font-family: $font__main;
	margin: 0 auto;
}

blockquote,
q {
	quotes: "" "";
	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: $base__space-unit;
}

ul,
ol {
	margin: 0 0 $base__space-unit ($base__space-unit * 2);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li>ul,
li>ol {
	margin-bottom: 0;
	margin-left: $base__space-unit;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $base__space-unit $base__space-unit;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

table {
	margin: 0 0 $base__space-unit;
	width: 100%;
}