
.header-menu-logo {
  height: 48px;
  width: 200px;
  background: url('../../assets/Caravel-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: black;
  position: fixed;
  top: 26px;
  left: 128px;
  z-index: 1000;
}

.main-navigation {
  position: fixed;
}


.header-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.panel1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  color: #333;
  position: relative;
  z-index: 2;

  h1 {
    width: 240px;
    margin: 0 auto;
    opacity: 0;
    font-size: 4rem;
    text-align: center;
    animation: fadeIn .5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    position: relative;
    &:after {
      opacity: 0;
      content: '';
      position: absolute;
      height: 3px;
      width: 0;
      bottom: -10px;
      left: 0;
      background-color: midnightblue;
      animation-name: h1pseudo;
      animation-duration: .7s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 2.5s;
    }
  }

  h3 {
    span {
      opacity: 0;
      position: relative;
      margin: 0 1rem;
      font-size: 3rem;
      text-transform: uppercase;
    }

    span:nth-of-type(1) {
      animation: fadeIn .5s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
    span:nth-of-type(2) {
      animation: fadeIn .5s;
      animation-delay: 1.3s;
      animation-fill-mode: forwards;
    }
    span:nth-of-type(3) {
      animation: fadeIn .5s;
      animation-delay: 1.6s;
      animation-fill-mode: forwards;
    }
  }

  .header {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }
  &-content {
    opacity: 0;
    width: 90%;
    margin: 2rem auto;
    position: relative;
    line-height: 35px;
    font-size: 1.5rem;
    text-align: justify;
    animation: fadeIn .7s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }
}

.fp-viewing-0 {
  .panel2 {
    background-position-y: -250px;
    transition: all .93s linear;
  }

  .team-member:nth-of-type(1) img {
    transform: translate(-550px, -100px) rotate(-70deg);
    transition: transform 2s;
  }
  .team-member:nth-of-type(2) img {
    transform: translate(850px, -100px) rotate(90deg);
    transition: transform 2.2s;
  }
}

.fp-viewing-1 {
  .panel2 {
    background-position-y: center;
    transition: all .93s linear;
  }

  .panel3 {
    background-position-y: -150px;
    transition: all 1.93s linear;
  }

  .team-member:nth-of-type(1) img {
    transform: none;
    transition: transform 1s;
    transition-delay: .2s;
  }
  .team-member:nth-of-type(2) img {
    transform: none;
    transition: transform 1.5s;
    transition-delay: .2s;
  }
}


@keyframes slideup {
  from { margin-bottom: 0; opacity: 1; }
  to   { margin-bottom: 300px; opacity: 0 }
}

@keyframes opacity {
  from {  opacity: 1; }
  to   {  opacity: 0 }
}

@keyframes h1pseudo {
  from {width: 0; opacity: 0;}
  to {width: 100%; opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0; bottom: 0;};
  to {opacity: 1; bottom: 15px;}
}

@keyframes arrow {
  from {transform: translateX(0)};
  to {transform: translateX(-20px)};
}


.header-container {
  width: 100%;
  padding: 8%;
  background-color: #f7f7f7;
  h2 {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  }
}



.second-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f7f7f7; //
  position: relative;
  // @include medium {
  //   margin-left: 10%;
  // }
}

// .box1 {
//   background-color: #f7f7f7;
//   width: 30%; ///
//   height: 500px;
//   justify-content: center;
//   align-items: center;
//   display: none;
//   @include medium {
//     display: flex;
//   }
//   .dots {
//     display: flex;
//     flex-direction: row;
//     p {
//       color: orangered;
//       padding: 10px;
//     }
//   }
// }

// .dots {
//   display: flex;
//   flex-direction: row;
// }

// .scroll {
//   display: none;
//   position: absolute;
//   left: -100px;
//   transform: rotate(-90deg);
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   font-weight: 100;
//   color: blue;
//   padding-left: 90px;
//   @include medium {
//     display: flex;
//   }
// }

// .scroll-blue-line {
//   display: none;
//   height: 2px;
//   width: 150px;
//   background-color: blue;
//   margin-right: 20px;
//   @include medium {
//     display: flex;
//   }
// }

.services-container {
  height: 700px;
  background-color: #f7f7f7;
  padding: 8%;
  padding-top: 2%;
  align-self: center;
  @include medium {
    height: 550px;
  }
}

.box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  padding-bottom: 40px;
  @include medium {
    width: 50%;
    padding-bottom: 0;
  }
  h4 {
    font-size: 20px;
    font-weight: 100;
    max-width: 70%;
  }
  span {
    color: blue;
  }
}

// .find-out-container {
//   display: flex;
//   .find-out-blurb {
//     line-height: 4;
//     div {
//       background-color: blue;
//       height: 2px;
//       width: 211px;
//     }
//   }
// }

.title-paragraph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @include medium {
    flex-direction: row;
  }
  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    padding: 20px;
    font-size: 60px;
    margin-top: 0;
  }
  p {
    align-self: center;
    margin-top: 0;
    margin-left: 3%;
    @include medium {
      margin-top: 30px;
      max-width: 60%;
    }
  }
}

.bullet-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 3;
  @include medium {
    flex-direction: row;
  }
}

.bullet-point {
  display: flex;
  align-items: center;
}

.bullet-blue-line {
  height: 3px;
  width: 10px;
  background-color: blue;
  margin-right: 10px;
}

.photo-container {
  img {
    width: 100%;
  }
}

.team-background {
  background-color: #000;
}

.team-wrapper {
  // width: 95%;
  // margin-right: 10%;
  padding: 3%;
  background-color: #f7f7f7;
  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    text-align: left;
    margin-left: 20%;
    font-size: 48px;
  }
  p {
    max-width: 60%;
    margin: 0 auto;
    font-weight: 100;
  }
}

.team-container {
  // @include tablet {
  //   background: url('../../assets/3dots.png');
  //   background-size: auto;
  //   background-repeat: no-repeat;
  //   background-position: unset;
  //   background-position-y: 63%;
  //   background-position-x: 9%;
  // }
  p {
    margin: 0 auto;
    max-width: 100%;
  }
  img {
    width: 150%;
    height: auto;
  }
}

.team-top-row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 15%;
}

.team-second-row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15%;
}

.team-third-row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 15%;
}

.team-single {
  width: 40%;
  padding: 5%;
}

.position {
  color: blue;
  font-weight: 100;
}

.work-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media screen and (min-width: 800px) {
    flex-direction: row;
  }
}

// .laptop-container {
//   // width: 75%;
//   background: url('../../assets/macbook.jpg');
//   background-size: auto;
//   background-repeat: no-repeat;
//   background-position: unset; // background-position-x: 56px;
//   // background-position-y: 850px;
//   background-position-y: 63%;
//   background-position-x: 9%;
// }

.work-carousel {
  width: 100%;
  overflow: hidden;
  max-height: 900px;
  background-color: black;
  padding-top: 64px;
  @media screen and (min-width: 800px) {
    width: 75%;
  }
}

.owl-prev {
  background-color: white;
}

.our-work-container {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 35px;
  @media screen and (min-width: 800px) {
    width: 25%;
  }
  h2 {
    color: #fff;
    font-family: 'Playfair Display', serif;
  }
  p {
    color: #f7f7f7;
    font-weight: 100;
    text-align: center;
  }
}

.dont-hesitate-container {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 60px;
    padding: 4%;
  }
  p {
    font-weight: 100;
    padding: 4%;
  }
} 


// OWL CAROUSEL STYLES
.owl-theme .owl-item .item img {
  width: 70%;
  margin: 0 auto; // width: 74% !important;
  // width: 498px !important;
  // height: 380px !important;
  // position: relative !important; // top: 70px !important;
  // left: 111px !important;
}

.owl-carousel {
  height: 100%;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  background-color: white !important;
  box-shadow: none;
  color: black !important;
  border: none;
  padding: 0 !important;
  font: inherit;
  position: absolute; // top: -90px;
  // left: 590px;
  width: 40px;
}

.owl-nav button.owl-prev {
  left: 30px;
  top: 50%;
}

.owl-nav button.owl-next {
  right: 30px;
  top: 50%;
}


