body {
  background-color: $color__navy;
}

.header-menu-logo {
  height: 48px;
  width: 200px;
  margin-left: 50px;
  background: url('../../assets/Caravel-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: black; // position: fixed;
  // top: 26px;
  // left: 128px;
  // z-index: 1000;
}

.main-navigation {
  height: 75px;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .16), 0 1px 6px rgba(0, 0, 0, .23);
  animation: nav .5s;
  animation-fill-mode: forwards;
  animation-delay: 3.25s;
  .menu {
    display: none;
  }
}

.header-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  color: #333;
  position: relative;
  z-index: 2;
  h1 {
    width: 240px;
    margin: 0 auto;
    opacity: 0;
    font-size: 4rem;
    font-weight: 700;
    font-family: $font__accent;
    text-align: center;
    animation: fadeIn .5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    position: relative;
    &:after {
      opacity: 0;
      content: '';
      position: absolute;
      height: 3px;
      width: 0;
      bottom: -10px;
      left: 0;
      background-color: $color__navy;
      animation-name: h1pseudo;
      animation-duration: .7s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 2.5s;
    }
  }
  h3 {
    span {
      opacity: 0;
      position: relative;
      margin: 0 2rem;
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 100;
    }
    span:nth-of-type(1) {
      animation: fadeIn .5s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
    span:nth-of-type(2) {
      animation: fadeIn .5s;
      animation-delay: 1.3s;
      animation-fill-mode: forwards;
    }
    span:nth-of-type(3) {
      animation: fadeIn .5s;
      animation-delay: 1.6s;
      animation-fill-mode: forwards;
    }
  }
  .header {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-content {
    opacity: 0;
    width: 90%;
    margin: 2rem auto;
    position: relative;
    line-height: 35px;
    font-size: 1.5rem;
    text-align: justify;
    letter-spacing: 3px;
    animation: fadeIn .7s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }
}

.fp-viewing-0 {
  .panel2 {
    background-position-y: -250px;
    transition: all .93s linear;
  }
  .team-member:nth-of-type(1) img {
    transform: translate(-550px, -100px) rotate(-70deg);
    transition: transform 2s;
  }
  .team-member:nth-of-type(2) img {
    transform: translate(850px, -100px) rotate(90deg);
    transition: transform 2.2s;
  }
}

.fp-viewing-1 {
  .panel2 {
    background-position-y: center;
    transition: all .93s linear;
  }
  .panel3 {
    background-position-y: -150px;
    transition: all 1.93s linear;
  }
  .team-member:nth-of-type(1) img {
    transform: none;
    transition: transform 1s;
    transition-delay: .2s;
  }
  .team-member:nth-of-type(2) img {
    transform: none;
    transition: transform 1.5s;
    transition-delay: .2s;
  }
}

@keyframes nav {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes slideup {
  from {
    margin-bottom: 0;
    opacity: 1;
  }
  to {
    margin-bottom: 300px;
    opacity: 0
  }
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0
  }
}

@keyframes h1pseudo {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    bottom: 0;
  }
  ;
  to {
    opacity: 1;
    bottom: 15px;
  }
}

@keyframes arrow {
  from {
    transform: translateX(0)
  }
  ;
  to {
    transform: translateX(-20px)
  }
  ;
}

@keyframes slide-left {
  from {
    transform: translate(-850px, -100px) rotate(-70deg);
    opacity: 0;
  }
  ;
  to {
    transform: translate(0, 0) rotate(0);
    opacity: 1;
  }
  ;
}

@keyframes slide-right {
  from {
    transform: translate(850px, -100px) rotate(90deg);
    opacity: 0;
  }
  ;
  to {
    transform: translate(0, 0) rotate(0);
    opacity: 1;
  }
  ;
}

@keyframes navSlide {
  from {
    transform: translateY(-100px);
    opacity: 0
  };
  to {
    transform: translateY(0);
    opacity: 0.9;
  };
}

.navSlide {
  animation: navSlide .5s;
  animation-fill-mode: forwards;
}

.navSlideReverse {
  animation: navSlide .5s;
  animation-direction: reverse;
}







.header-container {
  width: 100%;
  padding: 5%;
  background-color: #f7f7f7;
  h2 {
    font-family: $font__accent;
    font-size: 3rem;
  }
  p {
    letter-spacing: 3px;
  }
}

.second-container {
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f7f7f7; //
  position: relative; // @include medium {
  //   margin-left: 10%;
  // }
}

.services-container {
  z-index: 1;
  overflow: hidden; // background: url('../../assets/Caravel_ship.jpg') bottom left no-repeat;
  background-size: 100% 250%; // background-attachment: fixed;
  margin: 0 auto;
  height: 700px;
  background-color: #fff;
  padding: 5% 8%;
  height: 700px; // background-color: #f7f7f7;
  position: relative;
  padding: 8%;
  padding-top: 2%;
  align-self: center;
  @include medium {
    height: 550px;
  }
}

.sliding-background {
  z-index: -1;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0.9))), url('../../assets/ship_silhouette_3.jpg') no-repeat;
  height: 550px;
  width: 6000px;
  animation: slide 60s linear infinite; // animation: rotate 10s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(1400px, 0, 0);
  }
  10% {
    transform: translate3d(960px, 20px, 0);
  }
  20% {
    transform: translate3d(720px, -20px, 0);
  }
  30% {
    transform: translate3d(480px, 20px, 0);
  }
  40% {
    transform: translate3d(240px, -20px, 0);
  }
  50% {
    transform: translate3d(0px, 20px, 0);
  }
  60% {
    transform: translate3d(-240px, -20px, 0);
  }
  70% {
    transform: translate3d(-480px, 20px, 0);
  }
  80% {
    transform: translate3d(-720px, -20px, 0);
  }
  90% {
    transform: translate3d(-960px, 20px, 0);
  }
  100% {
    transform: translate3d(-1200px, -20px, 0);
  }
}

.box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  padding-bottom: 40px;
  @include medium {
    width: 50%;
    padding-bottom: 0;
  }
  h4 {
    font-size: 20px;
    font-weight: 100;
    max-width: 70%;
  }
  span {
    color: $color__navy;
  }
}

// .find-out-container {
//   display: flex;
//   .find-out-blurb {
//     line-height: 4;
//     div {
//       background-color: $color__navy;
//       height: 2px;
//       width: 211px;
//     }
//   }
// }
.title-paragraph-container {
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0;
    padding: 20px;
    font-family: $font__accent;
    font-weight: 700;
    font-size: 3rem;
  }
  p {
    align-self: center;
    margin-top: 0;
    margin-left: 3%;
  }
}

.bullet-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 3;
  @include medium {
    flex-direction: row;
  }
}

.bullet-point {
  display: flex;
  align-items: center;
}

.bullet-blue-line {
  height: 3px;
  width: 10px;
  background-color: $color__navy;
  margin-right: 10px;
}

.photo-container {
  img {
    width: 100%;
  }
}

.team-background {
  background-color: $color__navy;
}

.team-wrapper {
  margin-right: 5%;
  padding: 5% 8%;
  background-color: #f7f7f7;
  h2 {
    margin: 0;
    padding: 20px;
    font-family: $font__accent;
    font-weight: 700;
    text-align: left; // margin-left: 20%;
    font-size: 3rem;
  }
  p {
    margin: 0 0 0 3%;
  }
}

.team-container {
  // @include tablet {
  //   background: url('../../assets/3dots.png');
  //   background-size: auto;
  //   background-repeat: no-repeat;
  //   background-position: unset;
  //   background-position-y: 63%;
  //   background-position-x: 9%;
  // }
  p {
    margin: 0 auto;
    max-width: 100%;
  }
  img {
    width: 150%;
    height: auto;
  }
}

.team-top-row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 15%;
  img {
    opacity: 0;
    #Sean {
      transform: translate(-750px, -100px) rotate(-70deg);
    }
    #Nate {
      transform: translate(850px, -100px) rotate(90deg);
    }
  }
}

.team-second-row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15%;
  img {
    opacity: 0;
    #Colin {
      transform: translate(-850px, -100px) rotate(-70deg);
    }
    #Ilya {
      transform: translate(850px, -100px) rotate(90deg);
    }
  }
}

.slide-in-left {
  animation: slide-left .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.slide-in-right {
  animation: slide-right .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: .1s;
}

.team-single {
  width: 40%;
  padding: 5%;
}

.position {
  color: $color__navy;
  font-weight: 100;
}

.our-work-header {
  font-family: $font__accent;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 150px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }
}

.work-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media screen and (min-width: 800px) {
    flex-direction: row;
  }
} // .laptop-container {
//   // width: 75%;
//   background: url('../../assets/macbook.jpg');
//   background-size: auto;
//   background-repeat: no-repeat;
//   background-position: unset; // background-position-x: 56px;
//   // background-position-y: 850px;
//   background-position-y: 63%;
//   background-position-x: 9%;
// }
.work-carousel {
  width: 100%;
  overflow: hidden;
  max-height: 900px;
  background-color: black; // padding-top: 64px;
  @media screen and (min-width: 800px) {
    // width: 75%;
  }
  .contain {
    background-color: $color__navy;
  }
}

.owl-prev {
  background-color: white;
} // .our-work-container {
//   width: 100%;
//   background-color: #000;
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   flex-direction: column;
//   padding: 35px;
//   @media screen and (min-width: 800px) {
//     width: 25%;
//   }
//   h2 {
//     color: #fff;
//     font-family: 'Playfair Display', serif;
//   }
//   p {
//     color: #f7f7f7;
//     font-weight: 100;
//     text-align: center;
//   }
// }
.dont-hesitate-container {
  background-color: $color__navy;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 60px;
    padding: 4%;
  }
  p {
    font-weight: 100;
    padding: 4%;
  }
}