// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Buttons
@mixin button-block {
  display: inline;
  margin: 1rem auto;
  width: 160px;
  padding: 5px 30px;
  font-size: 12px;
  box-shadow: none;
  color: white;
  background-color: $color__text-main;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  &:hover {
    background-color: #000;
    box-shadow: 0px 14px 20px -15px rgba(0, 0, 0, 0.19), 0px 10px 13px -8px rgba(0, 0, 0, 0.23);
  }
  &:focus {
    outline: none;
  }
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin tablet {
  @media all and (min-width: $tablet) {
    @content;
  }
}

@mixin medium {
  @media all and (min-width: $medium) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: $desktop) {
    @content;
  }
}