/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

// Header
.header-menu-logo {
  height: 48px;
  width: 200px;
  background: url('../../assets/Caravel-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: black;
  position: fixed;
  top: 46px;
  left: 128px;
  z-index: 1000;
}

.main-navigation {
  position: fixed;
}

/* Front page */

.home {
  // SEANS CODE
  .seans-code {
    .header-container {
      padding: 208px 128px;
      margin-bottom: 128px;
      h1 {
        font-family: Playfair Display, serif;
        font-size: 72px;
        width: 60%;
      }
      p {
        font-size: 28px !important;
        max-width: 40%;
      }
    }
  }
  /*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
  /* Front page */
  .second-container {
    display: flex;
    flex-direction: row; /////
    justify-content: flex-start;
    background-color: #f7f7f7; //
    margin-left: 14%; //
    position: relative;
  }
  .box1 {
    background-color: #f7f7f7;
    width: 30%; ///
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    .dots {
      display: flex;
      flex-direction: row;
      p {
        color: orangered;
        padding: 10px;
      }
    }
  }
  .dots {
    display: flex;
    flex-direction: row;
  }
  .scroll {
    position: absolute;
    left: -100px;
    transform: rotate(-90deg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    color: blue;
    padding-left: 90px;
  }
  .scroll-blue-line {
    height: 2px;
    width: 150px;
    background-color: blue;
    margin-right: 20px;
  }
  .services-container {
    height: 700px;
    background-color: #f7f7f7;
    padding: 15%;
    padding-top: 10%;
    align-self: center;
  }
  .box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    width: 50%;
    h4 {
      font-size: 20px;
      font-weight: 100;
      max-width: 70%;
    }
    span {
      color: blue;
    }
  }
  .find-out-container {
    display: flex;
    justify-content: flex-start;
    margin-right: 25%;
    .find-out-blurb {
      line-height: 4;
      div {
        background-color: blue;
        height: 2px;
        width: 211px;
      }
    }
  }
  .title-paragraph-container {
    display: flex;
    justify-content: space-around;
    h2 {
      font-family: 'Playfair Display', serif;
      font-weight: 100;
      padding: 20px;
      font-size: 60px;
    }
    p {
      align-self: center;
      max-width: 60%;
      margin-top: 30px;
    }
  }
  .bullet-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 3;
  }
  .bullet-point {
    display: flex;
    align-items: center;
  }
  .bullet-blue-line {
    height: 3px;
    width: 10px;
    background-color: blue;
    margin-right: 10px;
  }
  .photo-container {
    img {
      width: 100%;
    }
  }
  .team-background {
    background-color: #000;
  }
  .team-wrapper {
    width: 95%;
    margin-right: 10%;
    padding: 3%;
    background-color: #f7f7f7;
    h1 {
      font-family: 'Playfair Display', serif;
      font-weight: 100;
      text-align: left;
      margin-left: 20%;
      font-size: 48px;
    }
    p {
      max-width: 60%;
      margin: 0 auto;
      font-weight: 100;
    }
  }
  .team-container {
    background: url("../../assets/3dots.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: unset; // background-position-x: 56px; 
    // background-position-y: 850px;
    background-position-y: 63%;
    background-position-x: 9%;
    p {
      margin: 0 auto;
      max-width: 100%;
    }
    img {
      width: 150%;
      height: auto;
    }
  }
  .team-top-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 15%;
  }
  .team-second-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15%;
  }
  .team-third-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 15%;
  }
  .team-single {
    width: 40%;
    padding: 5%;
  }
  .position {
    color: blue;
    font-weight: 100;
  }
  .work-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
  .laptop-container {
    // width: 75%;
    background: url("../../assets/macbook.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: unset; // background-position-x: 56px; 
    // background-position-y: 850px;
    background-position-y: 63%;
    background-position-x: 9%;
  }
  .work-carousel {
    width: 55%;
  }
  .our-work-container {
    width: 25%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    h2 {
      color: #fff;
    }
    p {
      color: #f7f7f7;
    }
  }
  .dont-hesitate-container {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-weight: 100;
      font-size: 60px;
    }
    p {
      font-weight: 100;
    }
  }
}

// OWL CAROUSEL STYLES
.owl-theme img {
  // width: 74% !important;
  width: 498px !important;
  height: 365px !important;
  position: relative !important;
  top: 70px !important;
  left: 112px !important;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  position: relative;
  top: -50px;
  left: 590px;
  width: 40px;
}